<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Redirigir todo lo que no sea archivo/directorio real a index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>
